<!--
 <!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
-->

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="container">
  <h2>Database Results</h2>
  <ul>
    <% results.forEach(function(r) { %>
      <li><%= r.id %> - <%= r.name %></li>
    <% }); %>
  </ul>
</div>
</body>
</html>